   
      <h1>Add the server Name</h1>
      <input 
      type="text"
      class="form-control"
      (input)="onInputUpdate($event)"
      >
   <button 
   [disabled]="buttonGetDisabled"
   class="btn btn-primary"
   (click)="onCreateServer()"
   >Click Me</button>
   <h1>The server name is {{serverName}}</h1>
   <h1 *ngIf="!buttonClicked;  else noServer">{{serverCreationStatus}}</h1>
   <ng-template #noServer> <p>No server was created!</p></ng-template>

   <p [ngStyle]="{backgroundColor:getColor()}">Sever 1 is {{serverStatus}}</p>
   <p [ngStyle]="{backgroundColor:getColor()}">Server 2 is {{serverStatus}}</p>
 
   <!-- <h1>Server {{getServerId() }}  is {{serverStatus}}</h1> -->